# Ignore Python virtual environments
venv/
.env/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd


# Ignore static build artifacts
backend/static/
dist/
build/

# VSCode settings
.vscode/
